@media (max-width: 835px) {
    .responsive-row {
        flex-direction: column;
        max-width: 70% !important;
        left: 0;
        right: 0;
        margin: auto;
    }

    .responsive-image {
        aspect-ratio: 13/9 !important;
    }

    .responsive-column {
        width: 100% !important;
        max-width: 100% !important;
    }

    .responsive-text {
        min-width: 90vw !important;
        text-align: left !important;
        margin: auto !important;
        justify-content: space-around !important;
        margin-bottom: 10px !important;
    }

    .responsive-text-2 {
        min-width: 90vw !important;
        text-align: left !important;
        margin: auto !important;
        justify-content: space-around !important;
    }

    .hero-togglebuttons-container {
        flex-direction: row !important;
        justify-content: start !important;
    }
}